<!DOCTYPE html>
<html>
  <%- include('./partials/header.ejs')%>
  <body>
    <%- include("./partials/homeButton.ejs") %>

    <div class="addProductRoot">

      <h1 class="addProductHeader">ADD PRODUCT</h1>

      <form id="addProductForm">

        <input type="text" name="name" placeholder="NAME">

        <input type="text" name="description" placeholder="DESCRIPTION">

        <select class="categorySelection">
          <%  category_list.forEach(category => { %>
                <option value=<%- category.name %>> <%= category.name %> </option>
          <%  }); %>
        </select>

        <input type="text" name="price" placeholder="PRICE">

        <input type="text" name="qty" placeholder="QUANTITY">

        <button type="submit">Submit</button>

      </form> 

    </div>

  </body>
</html>
