<!DOCTYPE html>
<html>
  <%- include('./partials/header.ejs')%>
  <body>
    <%- include('./partials/homeButton.ejs') %>
    <div class="categoryRoot">
      <h1 class="categoryListHeader">ALL CATEGORIES</h1>
      <div class="categoryItemsContainer">
        <% for (const category of category_list) { %>
          <a class="categoryItem" href=<%- category.url %>><%= category.name %></a>
        <% } %>
      </div>
    </div>
  </body>
</html>
