<!DOCTYPE html>
<html>
  <%- include('./partials/header.ejs')%>
  <body>
    <h1>ALL CATEGORIES</h1>
    <% for (const category of category_list) { %>
      <div class="categoryContainer">
        <a href=<%- category.url %>><%= category.name %></a>
      </div>
    <% } %>
  </body>
</html>
