<!DOCTYPE html>
<html>
  <%- include('./partials/header.ejs')%>
  <body>
    <h1>CYBERWARE INVENTORY</h1>
    <nav>
      <a href="/stock/categories" class='tabs'>Categories</a>
      <a href="/stock/products" class='tabs'>All Products</a>
    </nav>
  </body>
</html>
