<!DOCTYPE html>
<html>
  <%- include('./partials/header.ejs')%>
  <body>
    <%- include("./partials/homeButton.ejs") %>
    <div class="landingContainer">
      <h1 class="landingHeader">CYBERWARE INVENTORY</h1>
      <nav class="tabsContainer">
        <a href="/stock/categories" class='tabLeft'>CATEGORIES</a>
        <a href="/stock/products" class='tabRight'>ALL PRODUCTS</a>
      </nav>
    </div>
  </body>
</html>
