@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

:root {
  --background: #090502;
  --faint-border: #436259;
  --strong-border: #87afa6;
  --text-color: #87afa6;
  --hover-highlights: #1b2925;
}

* {
  background-color: var(--background);
  color: var(--text-color);
  font-family: Rajdhani;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* INDEX/LANDING */

.landingContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.landingHeader {
  font-size: 6vh;
}

.tabsContainer {
  border: 2px solid var(--faint-border);
  border-radius: 5px;
  min-width: 55vh;
  max-height: 55vh;
  display: flex;
  flex: 1;
  justify-self: center;
  align-self: center;
  box-shadow: 0 0 10px var(--faint-border);
}

.tabRight,
.tabLeft {
  border: 3px solid var(--strong-border);
  border-radius: 5px;
  flex-grow: 1;
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-decoration: none;
  color: var(--text-color);
  font-size: 5vh;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(-180deg);
  white-space: nowrap;
  padding: 2vh;
  box-shadow: 0 0 10px var(--strong-border);
}

.tabLeft {
  margin-left: 4vw;
  margin-right:1vw;
}

.tabRight {
  margin-left: 1vw;
  margin-right:4vw;
}

.tabRight:hover,
.tabLeft:hover {
  background-color: var(--hover-highlights);
}

/* PRODUCT LIST */

.productListRoot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.productListHeader {
  text-align: center;
  font-size: 5vh;
}

.productListContainer {
  border: 2px solid var(--faint-border);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--faint-border);
  min-width: 55vw;
  height: 55vh;
  overflow: scroll;
}

.productListItem {
  border: 3px solid var(--strong-border);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--strong-border);
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  margin: 1vh;
  margin-left: 5vh;
  margin-right: 5vh;
  padding: 2vh;
  max-height: 4vh;
}

.productListItem:hover {
  background-color: var(--hover-highlights);
}

.productListItem > * {
  text-decoration: none;
  font-size: 3vh;
  background-color: transparent;
}

.productListItemPriceAndQtyContainer {
  display: flex;
  flex-direction: row;
  gap: 2vh;
  max-height: 3vh;
  align-items: center;
  background-color: transparent;
}

.productListItemPriceAndQtyContainer > * {
  background-color: transparent;
} 


